<h1>{{tutorialObject.title}}</h1>
    <h2>{{tutorialObject.subTitle}}</h2>
    <p>Number {{2 + 2}}</p>
    <p>{{tutorialObject.bindOutput}}</p>
    <button ng-click="timesTwo()">Multiply</button>

    <p>{{tutorialObject.firstName}}</p>
    <p>{{tutorialObject.lastName}}</p>

    <label>First name</label>
    <input ng-model="tutorialObject.firstName"> 
</br>
    <label>Last name</label>
     <input ng-model="tutorialObject.lastName"> <!-- put some data binding whit this "ng-model" -->


    
     <span welcome-message ></span>
<a href="#/tutorialSecond">Second Page</a>